# Supabase Public Client Credentials
# Note: Never put service_role or database secrets here.
EXPO_PUBLIC_SUPABASE_URL=https://fgouwmigftxgnwjcpcot.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_PUBLISHABLE_KEY
